.card_title_number{
  font-size: 3.5rem !important;
  font-weight: 900 !important;
  color: #FFFFFF !important;
}
.card_disc_text{
  color: #FFFFFF !important;
  font-weight: 500;
  margin-top: 2rem;
}